*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
.nyc_output/
.settings/
.vagrant/
bin/
coverage/
logs/
modules/
node_modules/
target/
stats.json

.classpath
.project
*.iml
[^/]*-local.*
lib/
application.yaml
src/test/kotlin/de/husterknupp/todoapp/Credentials.kt
